*.class
.gradle

# IDEs
.idea
*.iml
build/
.classpath
.project
.settings/
bin/
.vscode/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# note: some other rules could/should be in your HOME .gitignore_global file
# *~
# .DS_Store
